input {
    margin-bottom: 30px;
    margin-right: 20px;
}
#inputPCSsupply{
    margin: 0px;
}
#name{
    min-width: 200px;
}
#pcs{
    min-width: 60px;
}
#index{
    min-width: 60px;
}
.colorBlue{
    color: #248DC1;
    cursor: pointer;
}