<h2>Sprawdź zawartość lokalizacji</h2>

<input placeholder="wprowadź lokalizacje" list="locations" [(ngModel)]="selectedLocation" (keyup.enter)="check()">
<datalist id="locations">
  <option *ngFor="let location of locations" [value]="location.location">
  </option>
</datalist>  
<br>
<button (click)="check()">znajdź produkt</button>
<br><br>
<div class="pc">
  <table>
    <tr>
      <td id="index">index</td>
      <td id="name">nazwa produktu</td>
      <td id="pcs">ilość</td>
      <td>lokalizacja</td>
    </tr>
    <tr class="border" *ngFor="let transfer of transfers">   
      <td *ngIf="transfer.location_name == myLocation && transfer.pcs > 0 && isConnected">{{transfer.product_index}}</td>
      <td *ngIf="transfer.location_name == myLocation && transfer.pcs > 0 && isConnected">{{transfer.product_name}}</td>
      <td *ngIf="transfer.location_name == myLocation && transfer.pcs > 0 && isConnected">{{transfer.pcs}}</td>
      <td *ngIf="transfer.location_name == myLocation && transfer.pcs > 0 && isConnected">{{transfer.location_name}}</td>
    </tr>
  </table>
  <p [hidden]="!isNotFound">Lokalizacja pusta. Brak produktów w lokalizacji.</p>
  <p [hidden]="isConnected">Ładowanie <img style="width: 1em" src="../../assets/loadingLight.svg" /></p>
</div>
<div class="mobile">
  <p *ngIf="myLocation"><b>nazwa produktu:</b> {{myLocation}}</p>
  <div *ngFor="let transfer of transfers">
    <p *ngIf="transfer.location_name == myLocation && transfer.pcs > 0">index: {{transfer.product_index}}</p>
    <p *ngIf="transfer.location_name == myLocation && transfer.pcs > 0">nazwa: {{transfer.product_name}}</p>
    <p class="border" *ngIf="transfer.location_name == myLocation && transfer.pcs > 0">ilość: {{transfer.pcs}}</p>
  </div>
  <p [hidden]="!isNotFound">Lokalizacja pusta. Brak produktów w lokalizacji.</p>
</div>
