<h2>Sprawdź zawartość lokalizacji</h2>

<input placeholder="wprowadź lokalizacje" list="locations" [(ngModel)]="selectedLocation" (keyup.enter)="check()">
<datalist id="locations">
  <option *ngFor="let location of locations" [value]="location.location">
  </option>
</datalist>  
<br>
<button (click)="check()">znajdź produkt</button>
<br><br>
<div class="pc table">
  <div>index:</div>
  <div>nazwa produktu:</div>
  <div>ilość:</div>
  <div>lokalizacja:</div>
</div>
<p [hidden]="!isNotFound">Lokalizacja pusta. Brak produktów w lokalizacji.</p>
<p [hidden]="isConnected">Ładowanie <img style="width: 1em" src="../../assets/loadingLight.svg" /></p>
<div class="border table" *ngFor="let transfer of transfers | slice: sliceNumber : sliceNumber + plusPlus">
  <div><span class="mobile">index: </span>{{transfer.product_index}}</div>
  <div><span class="mobile">nazwa produktu: </span>{{transfer.product_name}}</div>
  <div><span class="mobile">ilość: </span>{{transfer.pcs}}</div>
  <div><span class="mobile">lokalizacja: </span>{{transfer.location_name}}</div>
</div>
<div class="sliceButton">
  <div>
    <button *ngIf="sliceNumber > 0" (click)="minus()"><<</button>
  </div>
  <div>
    <button *ngIf="(sliceNumber + plusPlus) < arrayLength" (click)="plus()">>></button>
  </div>
</div>