<h2>Transfer produktu na inna lokalizacje</h2>

<input placeholder="wprowadź lokalizacje" list="locations" [(ngModel)]="selectedLocation" (keyup.enter)="refreshData()">
<datalist id="locations">
  <option *ngFor="let location of locations" [value]="location.location">
  </option>
</datalist>  
<br>
<button (click)="refreshData()">znajdź produkt</button>
<br><br>
lokalizacja: {{locationName}}<br><br>
<div class="pc table">
  <div>index:</div>
  <div>nazwa produktu:</div>
  <div>ilość:</div>
  <div>&nbsp;</div>
</div>
<div class="border table" *ngFor="let transfer of transfers">
  <div><span class="mobile">index: </span>{{transfer.product_index}}</div>
  <div><span class="mobile">nazwa produktu: </span>{{transfer.product_name}}</div>
  <div><span class="mobile">ilość: </span>{{transfer.pcs}}</div>
  <div><fa-icon class="colorBlue" [icon]="faExchangeAlt" (click)="getSelectedProduct(transfer.product, transfer.pcs, transfer.location, transfer.product_name)"></fa-icon></div>
</div>
<p [hidden]="!isNotFound">Lokalizacja pusta. Brak produktów w lokalizacji.</p>
<p [hidden]="isConnected">Ładowanie <img style="width: 1em" src="../../assets/loadingLight.svg" /></p>




  <div [hidden]="!isGetSelectedProduct" class="visible">
    <h2>Transfer produktu:</h2>
    <p>nazwa: {{ selectedProductName }}</p>
    <p>ilość dostępna: {{ selectedPcs }}</p>
    <input type="number" placeholder="ilość" [(ngModel)]="pcsToTransfer"><br>
    <input placeholder="do lokalizacji" list="locations2" [(ngModel)]="locationToTransfer">
    <datalist id="locations2">
      <option *ngFor="let location of locations" [value]="location.location">
      </option>
    </datalist>  
    <br>
    <button class="button" (click)="tryTransfer()">transfer</button>
  </div>

  <div [hidden]="!isWrongPcs" class="visible">
    <h2>Bład: zła liczba</h2>
    <div class="center">
      <p>Nie posiadasz wystarczającej liczby produktu</p>
      <br>
      <button class="button" (click)="ok()">OK</button>
    </div>
  </div>

  <div [hidden]="!isSuccess" class="visible">
    <h2>Transfer wykonany</h2>
    <div class="center">
      <p>Transfer został wykonany prawidłowo</p>
      <br>
      <button class="button" (click)="ok()">OK</button>
    </div>
  </div>
