<h2>Historia produktu</h2>

<input placeholder="wprowadź id produktu" list="products1" [(ngModel)]="selectedProductByIndex" (keyup.enter)="checkThis()">
<datalist id="products1">
  <option *ngFor="let product of products" [value]="product.index">
  </option>
</datalist>  

<input placeholder="wprowadź nazwę produkt" list="products2" [(ngModel)]="selectedProductByName" (keyup.enter)="checkThis()">
<datalist id="products2">
  <option *ngFor="let product of products" [value]="product.name">
  </option>
</datalist>  

<input placeholder="wprowadź EAN produkt" list="products3" [(ngModel)]="selectedProductByEan" (keyup.enter)="checkThis()">
<datalist id="products3">
  <option *ngFor="let product of products" [value]="product.ean">
  </option>
</datalist>  

<br>
<button (click)="checkThis()">znajdź produkt</button>
<br><br>

<div class="pc table">
  <div>nazwa:</div>
  <div>ilość:</div>
  <div>z:</div>
  <div>do:</div>
  <div>data:</div>
  <div>pracownik:</div>
</div>
<p [hidden]="!isNotFound">Brak historii dla {{selectedProduct}}.</p>
<p [hidden]="isConnected">Ładowanie <img style="width: 1em" src="../../assets/loadingLight.svg" /></p>
<div class="border table" *ngFor="let transfer of history | slice: sliceNumber : sliceNumber + plusPlus">
  <div><span class="mobile">nazwa: </span>{{transfer.product_name}}</div>
  <div><span class="mobile">ilość: </span>{{transfer.pcs}}</div>
  <div>
    <span *ngIf="transfer.location_name_from != transfer.location_name_to"><span class="mobile">z: </span>{{transfer.location_name_from}}</span>
    <span *ngIf="transfer.location_name_from == transfer.location_name_to && transfer.location_name_from == 'supply'">dostawa towaru</span>
    <span *ngIf="transfer.location_name_from == transfer.location_name_to && transfer.location_name_from == 'out'">towar wysłano</span>
  </div>
  <div>
    <div *ngIf="transfer.location_name_from != transfer.location_name_to">
      <span *ngIf="transfer.location_name_from != transfer.location_name_to"><span class="mobile">do: </span>{{transfer.location_name_to}}</span>
      <span *ngIf="transfer.location_name_from == transfer.location_name_to">&nbsp;</span></div>
  </div>
  <div><span class="mobile">data: </span>{{transfer.date_transfer}}</div>
  <div><span class="mobile">pracownik: </span>{{transfer.user_name}}</div>
</div>
<div class="sliceButton">
  <div>
    <button *ngIf="sliceNumber > 0" (click)="minus()"><<</button>
  </div>
  <div>
    <button *ngIf="(sliceNumber + plusPlus) < arrayLength" (click)="plus()">>></button>
  </div>
</div>






<div [hidden]="!isMoreThanOne" class="visible">
  <h2>Błąd: użyłeś więcej niż jednego parametru</h2>
  <p class="center">Użyj wyłącznie jednego z trzech parametrów</p>
  <div class="center">
      <button class="button" (click)="ok()">OK</button>
  </div>
</div>

<div [hidden]="!isAllEmpty" class="visible">
  <h2>Błąd: brak kryterium</h2>
  <p class="center">Użyj wyłącznie jednego z trzech parametrów</p>
  <div class="center">
      <button class="button" (click)="ok()">OK</button>
  </div>
</div>

