input {
    margin-bottom: 30px;
    margin-right: 20px;
}
.table {
    grid-template-columns: 200px 50px 100px 100px 100px 100px
}
@media only screen and (max-width: 850px) {
    .table{
        width: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .mobile{
        display: inline;
      }
      .pc {
          display: none;
      }
}