<h2>Znajdź lokalizację dla produktu</h2>

<input placeholder="wprowadź id produktu" list="products1" [(ngModel)]="selectedProductByIndex">
<datalist id="products1">
  <option *ngFor="let product of products" [value]="product.index">
  </option>
</datalist>  

<input placeholder="wprowadź nazwę produkt" list="products2" [(ngModel)]="selectedProductByName">
<datalist id="products2">
  <option *ngFor="let product of products" [value]="product.name">
  </option>
</datalist>  

<input placeholder="wprowadź EAN produkt" list="products3" [(ngModel)]="selectedProductByEan">
<datalist id="products3">
  <option *ngFor="let product of products" [value]="product.ean">
  </option>
</datalist>  

<br>
<button (click)="getProductFromList()">znajdź produkt</button>
<br><br>
<div class="pc">
    <table>
      <tr>
        <td id="name">nazwa produktu:</td>
        <td id="pcs">ilość:</td>
        <td class="location">z:</td>
        <td class="location">do:</td>
        <td id="date">data:</td>
        <td id="user">użytkownik:</td>
      </tr>
      <tr class="border" *ngFor="let transfer of history">      
        <td *ngIf="transfer.product_name == selectedProduct && isConnected">{{transfer.product_name}}</td>
        <td *ngIf="transfer.product_name == selectedProduct && isConnected">{{transfer.pcs}}</td>
        <td *ngIf="transfer.product_name == selectedProduct && isConnected"><span *ngIf="transfer.location_name_from != transfer.location_name_to">{{transfer.location_name_from}}</span>
                                                          <span *ngIf="transfer.location_name_from == transfer.location_name_to && transfer.location_name_from == 'supply'">dostawa towaru</span>
                                                          <span *ngIf="transfer.location_name_from == transfer.location_name_to && transfer.location_name_from == 'out'">towar wysłano</span></td>
        <td *ngIf="transfer.product_name == selectedProduct && isConnected"><span *ngIf="transfer.location_name_from != transfer.location_name_to">{{transfer.location_name_to}}</span>
                                                            <span *ngIf="transfer.location_name_from == transfer.location_name_to">&nbsp;</span></td>
        <td *ngIf="transfer.product_name == selectedProduct && isConnected">{{transfer.date_transfer}}</td>
        <td *ngIf="transfer.product_name == selectedProduct && isConnected">{{transfer.user_name}}</td>
      </tr>
    </table>
    <p [hidden]="!isNotFound">Brak historii dla wybranego produktu.</p>
    <p [hidden]="isConnected">Ładowanie <img style="width: 1em" src="../../assets/loadingLight.svg" /></p>
</div>
<div class="mobile">
  <p *ngIf="selectedProduct"><b>nazwa produktu:</b> {{selectedProduct}}</p>
  <div *ngFor="let transfer of history">
    <p *ngIf="transfer.product_name == selectedProduct">nazwa: {{transfer.product_name}}</p>
    <p *ngIf="transfer.product_name == selectedProduct">ilość: {{transfer.pcs}}</p>
    <p *ngIf="transfer.product_name == selectedProduct"><span *ngIf="transfer.location_name_from != transfer.location_name_to">z: {{transfer.location_name_from}}</span>
                                                      <span *ngIf="transfer.location_name_from == transfer.location_name_to && transfer.location_name_from == 'supply'">dostawa towaru</span>
                                                      <span *ngIf="transfer.location_name_from == transfer.location_name_to && transfer.location_name_from == 'out'">towar wysłano</span></p>
    <p *ngIf="transfer.product_name == selectedProduct && transfer.location_name_from != transfer.location_name_to"><span *ngIf="transfer.location_name_from != transfer.location_name_to">do: {{transfer.location_name_to}}</span>
                                                        <span *ngIf="transfer.location_name_from == transfer.location_name_to">&nbsp;</span></p>
    <p *ngIf="transfer.product_name == selectedProduct">data: {{transfer.date_transfer}}</p>
    <p class="border" *ngIf="transfer.product_name == selectedProduct">pracownik: {{transfer.user_name}}</p>
</div>
  <p [hidden]="!isNotFound">Tego produktu nie ma w żadnej lokalizacji.</p>
</div>






<div [hidden]="!isMoreThanOne" class="visible">
  <h2>Błąd: użyłeś więcej niż jednego parametru</h2>
  <p class="center">Użyj wyłącznie jednego z trzech parametrów</p>
  <div class="center">
      <button class="button" (click)="ok()">OK</button>
  </div>
</div>

<div [hidden]="!isAllEmpty" class="visible">
  <h2>Błąd: brak kryterium</h2>
  <p class="center">Użyj wyłącznie jednego z trzech parametrów</p>
  <div class="center">
      <button class="button" (click)="ok()">OK</button>
  </div>
</div>

