<h2>Znajdź lokalizację dla produktu</h2>

<input placeholder="wprowadź index produktu" list="products1" [(ngModel)]="selectedProductByIndex" (keyup.enter)="checkThis()">
<datalist id="products1">
  <option *ngFor="let product of products" [value]="product.index">
  </option>
</datalist>  

<input placeholder="wprowadź nazwę produkt" list="products2" [(ngModel)]="selectedProductByName" (keyup.enter)="checkThis()">
<datalist id="products2">
  <option *ngFor="let product of products" [value]="product.name">
  </option>
</datalist>  

<input placeholder="wprowadź EAN produkt" list="products3" [(ngModel)]="selectedProductByEan" (keyup.enter)="checkThis()">
<datalist id="products3">
  <option *ngFor="let product of products" [value]="product.ean">
  </option>
</datalist>  

<br>
<button (click)="checkThis()">znajdź produkt</button>
<br><br>
<div class="pc table">
  <div>nazwa produktu:</div>
  <div>ilość:</div>
  <div>lokalizacja:</div>
</div>
<div class="border table" *ngFor="let transfer of transfers">
  <div><span class="mobile">nazwa produktu: </span>{{transfer.product_name}}</div>
  <div><span class="mobile">ilość: </span>{{transfer.pcs}}</div>
  <div><span class="mobile">lokalizacja: </span>{{transfer.location_name}}</div>
</div>
<p [hidden]="!isNotFound">Tego produktu nie ma w żadnej lokalizacji.</p>
<p [hidden]="isConnected">Ładowanie <img style="width: 1em" src="../../assets/loadingLight.svg" /></p>

<div [hidden]="!isMoreThanOne" class="visible">
  <h2>Błąd: użyłeś więcej niż jednego parametru</h2>
  <p class="center">Użyj wyłącznie jednego z trzech parametrów</p>
  <div class="center">
      <button class="button" (click)="ok()">OK</button>
  </div>
</div>

<div [hidden]="!isAllEmpty" class="visible">
  <h2>Błąd: brak kryterium</h2>
  <p class="center">Użyj wyłącznie jednego z trzech parametrów</p>
  <div class="center">
      <button class="button" (click)="ok()">OK</button>
  </div>
</div>






